@import './colors';
@import './fonts';

body {
    background: $veryDarkBlue;
    color: $white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

dl {

    dt,
    dd {
        display: inline-block;
    }

    dt {
        font-weight: 600;
        &:after {
            content: ": ";
        }
    }
    dd {
        margin-left: 5px;
    }

}
.h1,.h2,.h3,.h4,.h5,.h6,
h1,h2,h3,h4,h5,h6 {
    font-weight: 800;
    margin-bottom: 0;
}

.h4 {
    font-size: 1.5rem;
}

.btn {
    background: $darkBlue;
    padding-left: 2rem;
    padding-right: 2rem;
    border-color: #000;
    -webkit-box-shadow: 0 0 9px 3px #000000;
    box-shadow: 0 0 9px 3px #000000;
}
.form-group {
    position: relative;

    svg {
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);

        & ~ .form-control {
            padding-left: 3.5rem !important;
        }
    }

    .form-select,
    .form-control:focus,
    .form-control {
        background: $darkBlue;
        color: $white;
        padding: 1rem 2rem;
        border-color: #000;
        -webkit-box-shadow: 0 0 9px 3px #000000;
        box-shadow: 0 0 9px 3px #000000;

        &::placeholder {
            color: $white;
        }
    }
}


.icon {
    &.left {
        svg {
            margin-right: .5rem;
        }
    }
}